.hero {
  margin-bottom: 50px;
  margin-top: 20px;
}

.hero-style {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-content {
  width: 450px;
  height: 286px;
  display: grid;
  grid-template-columns: auto;
  background: rgb(215, 205, 195);
  padding: 20px;
}

.hero-text {
  text-transform: uppercase;
  font-size: 56px;
  line-height: 96%;
  letter-spacing: -0.343px;
  margin: 0;
  font-weight: 700;
}

.hero-par {
  font-size: 17px;
  font-weight: 400;
  line-height: 117%;
  margin: 0;
}

.hero-btn {
  background: rgb(0, 0, 0);
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 100px;
  width: 245px;
  height: 49px;
  font-size: 15px;
  line-height: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1115px) {
  .hero-style {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .hero-img {
    display: none;
  }
}
