* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

.cart,
.wishlist {
  margin-top: 50px;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

input {
  outline: none;
}

.chart {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
}

.chart-btn {
  width: 120px;
  height: 30px;
  font-size: 16px;
  border-radius: 10px;
  margin: 10px;
}
